*{
    box-sizing: border-box;
    
   
}
html{    
    background-image: url('../img/Desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 98vw;
}
body{
    font-size: 62.5%;
    width: 100%;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    // margin: 5% auto;
    
    
}